@page "/fetchdata"
@inject HttpClient Http

<h1>List of All Transactions</h1>
@if (transactions == null)
{
    <CircularProgress Variant="@CircularProgressVariant.Indeterminate"
                      DisableShrink
                      Size="30"
                      Thickness="4"
                      Style="color: #6798e5;
            animation-duration: 550ms;
            position: absolute;
            margin: 16px;" />
}
else
{
    if (transactions.Length == 0)
    {
        <p><em>No Transactions</em></p>
    }
    else
    {
        <Paper
    Style="width: 100%; margin-top: 24px; overflow-x: auto;">
    <Table
        Style="min-width: 700px"
        aria-label="spanning table">
        <TableHead>
            <TableRow>
                <TableCell>
                    Transaction Date
                </TableCell>
                <TableCell
                    Align="@Align.Right">
                    Merchant Name
                </TableCell>
                <TableCell
                    Align="@Align.Right">
                    Price
                </TableCell>
                 <TableCell
                    Align="@Align.Right">
                    Transaction Status
                </TableCell>
            </TableRow>
        </TableHead>
        <TableBody>
            @foreach(var row in transactions)
            {
                <TableRow
                    @key="@row.TransactionDateTime">
                    <TableCell
                        Component="th"
                        Scope="row">
                        @row.TransactionDateTime.ToString()
                    </TableCell>
                    <TableCell
                        Align="@Align.Right">
                        @row.MerchantName
                    </TableCell>
                    <TableCell
                        Align="@Align.Right">
                        R @((row.CentsAmount/100).ToString("00.00"))
                    </TableCell>
                     <TableCell
                        Align="@Align.Right">
                        @(row.TransactionStatus ? "Approved" : "Declined")
                    </TableCell>
                </TableRow>
            }
        </TableBody>
    </Table>
</Paper>
    }
}

@code {
    private RawTransaction[] transactions;

	const string WAREWOLF_GETTRANSACTIONS_ENDPOINT = "{INSERT YOUR WAREWOLF GETTRANSACTIONS ENDPOINT HERE}"
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var httpClient = new System.Net.Http.HttpClient();
            var data = await httpClient.GetStringAsync(WAREWOLF_GETTRANSACTIONS_ENDPOINT);
            var def = new { transactionData = new { Transactions = new List<RawTransaction>() } };
            var result = Newtonsoft.Json.JsonConvert.DeserializeAnonymousType(data, def, new Newtonsoft.Json.JsonSerializerSettings
            {
                DateParseHandling = DateParseHandling.DateTime,
                DateFormatString = "dd/MM/yyyy hh:mm:ss tt"
            });
            transactions = result.transactionData.Transactions.OrderBy(t=>t.TransactionDateTime).ToArray();
        }
        catch (System.Exception)
        {
            System.Threading.Thread.Sleep(5000);
            transactions = new RawTransaction[0];
        }

    }

    public class RawTransaction
    {
        public string AccountNumber { get; set; }
        public DateTime TransactionDateTime { get; set; }
        public int CentsAmount { get; set; }
        public string CurrencyCode { get; set; }
        public string TransactionType { get; set; }
        public string CardId { get; set; }
        public string MerchantCategoryName { get; set; }
        public string MerchantCategoryCode { get; set; }
        public string MerchantCategoryKey { get; set; }
        public string MerchantName { get; set; }
        public string TransactionCity { get; set; }
        public string TransactionCountryName { get; set; }
        public string TransactionCode { get; set; }
        public string TransactionIdentifier { get; set; }
        public Guid Id { get; set; }
        public bool TransactionStatus { get; set; }
    }
}
