﻿@page "/rulebuilder"
@using System.Collections.Generic
@using Skclusive.Material.Modal
@using System.Threading;
@using System.Reflection;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;

<Typography
    Variant="@TypographyVariant.H5">
    Rule Builder
</Typography>

@if (Rules == null)
{
    <CircularProgress Variant="@CircularProgressVariant.Indeterminate"
                      DisableShrink
                      Size="30"
                      Thickness="4"
                      Style="color: #6798e5;
            animation-duration: 550ms;
            position: absolute;
            margin: 16px;" />
}else
{
    <Fab
        Variant="@FabVariant.Extended"
        aria-label="publish"
        Size="@Size.Large"
        Style="margin: 8px;"
        OnClick="PublishRules">
        @if (Publishing)
        {
                <CircularProgress Variant="@CircularProgressVariant.Indeterminate"
                      DisableShrink
                      Size="24"
                      Thickness="4"
                      Style="color: #6798e5;
                             animation-duration: 550ms;
                             position: absolute;"
                              />
        }else{
            <CloudUploadIcon
                Style="margin-right: 8px;" />
                <Typography
                    Variant="@TypographyVariant.Button"
                    Display="@Display.Block"
                    GutterBottom>
                Publish
                </Typography>
        }
    </Fab>
<div
        style="max-height: 440px; overflow: auto;">
        <Table
            StickyHeader
            Size="@Size.Small"
            aria-label="sticky table">
            <TableHead>
                <TableRow>
                    <TableCell
                        Align="@Align.Left">
                        Property Name
                    </TableCell>
                    <TableCell
                        Align="@Align.Left">
                        Comparison
                    </TableCell>
                    <TableCell
                        Align="@Align.Left">
                        Value
                    </TableCell>
                     <TableCell
                        Align="@Align.Left">
                        Link to next Rule
                    </TableCell>
                    <TableCell
                        Align="@Align.Right">
                        
                    </TableCell>
                </TableRow>
            </TableHead>
            <TableBody>
                @foreach(var rule in Rules)
                {
                    <TableRow>
                        <TableCell
                            Component="th"
                            Scope="row">
                            @rule.Property.display
                        </TableCell>
                        <TableCell
                            Align="@Align.Left">
                            @rule.Comparison
                        </TableCell>
                         <TableCell
                            Align="@Align.Left">
                            @rule.Value
                        </TableCell>
                        <TableCell
                            Align="@Align.Left">
                            @rule.LinkOperand
                        </TableCell>
                        <TableCell
                            Align="@Align.Right">
                            <Fab
                                Color="@Color.Secondary"
                                Size="@Size.Small"
                                aria-label="edit"
                                Style="margin: 0px;"
                                OnClick="@((_) => EditRule(@rule))">
                                <EditIcon />
                            </Fab>
                        </TableCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    </div>
}
<div align="right">
    <Fab
        Color="@Color.Primary"
        aria-label="add"
        Style="margin: 8px;"
        OnClick="OpenRuleBuilder">
        <AddIcon />
    </Fab>
</div>
<Modal
        aria-labelledby="transition-modal-title"
        aria-describedby="transition-modal-description"
        Open="@Open"
        Style="display: flex;
        align-items: center;
        justify-content: center;"
        OnClose="@HandleClose"
        OnBackdropClick="@OnBackdropClick"
        OnEscapeKeyDown="@OnEscapeKeyDown">
        <BackdropContent>
            <Backdrop
                Open="@context.Open"
                OnClick="@context.OnBackdropClick"/>
        </BackdropContent>
        <ChildContent Context="Popup">
            <Fade
                In="@Open"
                Context="FadeContext">
                <div
                    @ref="@FadeContext.RefBack.Current"
                    style="@(CssUtil.ToStyle(FadeContext.Styles, @"border: 2px solid #000;
                    padding: 8px 16px 12px;
                    width:800px;
                    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);
                    background-color: var(--theme-palette-background-paper, #fff);"))">
                    <h2
                        style="margin-block-start: 0.83em;
                        margin-block-end: 0.83em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;"
                        id="transition-modal-title">
                        Rule
                    </h2>
                    <div
                        style="display: flex; flex-wrap: wrap;">
                        <List Style="width: 180px">
                            <ListItem
                                Button
                                Selected="@(SelectedItem == "Property")"
                                OnClick="@((_) => OnSelect("Property"))">
                                <ListItemText Primary=@SelectedProperty.display/>
                                @if (PropertyOpen)
                                {
                                    <ExpandLessIcon />
                                } else
                                {
                                    <ExpandMoreIcon />
                                }
                            </ListItem>
                            @if (PropertyOpen)
                            {
                                <List
                                    Component="div"
                                    DisablePadding>
                                    @foreach (var item in PropertyValues)
                                    {
                                        <ListItem
                                        Button
                                        Style="padding-left: 8px"
                                        Selected="@(SelectedProperty.key == item.Key)"
                                        OnClick="@((_) => OnSelectProperty(item.Key,item.Value))">    
                                        <ListItemText
                                            Primary=@item.Value />
                                    </ListItem>
                                    }
                                </List>
                            }
                        </List>
                        <List Style="width: 150px;padding-left: 8px">
                            <ListItem
                                Button
                                Selected="@(SelectedItem == "Comparison")"
                                OnClick="@((_) => OnSelect("Comparison"))">
                                <ListItemText Primary=@SelectedComparison/>
                                @if (ComparisonOpen)
                                {
                                    <ExpandLessIcon />
                                } else
                                {
                                    <ExpandMoreIcon />
                                }
                            </ListItem>
                            @if (ComparisonOpen)
                            {
                                <List
                                    Component="div"
                                    DisablePadding>
                                    @foreach (var comparison in Comparisons)
                                    {
                                        <ListItem
                                            Button
                                            Style="padding-left: 8px"
                                            Selected="@(SelectedComparison == comparison)"
                                            OnClick="@((_) => OnSelectComparison(comparison))">
                                            <ListItemText
                                                Primary=@comparison/>
                                        </ListItem>
                                    }
                                </List>
                            }
                        </List>
                        <div>
                            <StandardInput
                                Placeholder="Value"
                                Value="@Value"
                                OnChange="@HandleValueUpdated"
                                Style="width: 50px;margin: 8px;"
                                Disabled="false" />
                        </div>
                        <div>
                            <FormControl
                                Style="margin: 8px;"
                                Component="fieldset">
                                <FormLabel
                                    Style="padding-left: 24px;"
                                    Component="legend">
                                    Link to next rule
                                </FormLabel>
                            <RadioGroup
                                aria-Label="position"
                                Name="linkOperand"
                                Value="@LinkOperand"
                                OnChange="@OnLinkOperandChanged"
                                Row>
                                <FormControlLabel
                                    Label="NONE"
                                    Placement="@Placement.Bottom">
                                        <Radio
                                            Value="NONE"
                                            Color="@Color.Primary" />
                                </FormControlLabel>
                                <FormControlLabel
                                    Label="OR"
                                    Placement="@Placement.Bottom">
                                        <Radio
                                            Value="OR"
                                            Color="@Color.Primary" />
                                </FormControlLabel>
                                <FormControlLabel
                                    Label="AND"
                                    Placement="@Placement.Bottom">
                                        <Radio
                                            Value="AND"
                                            Color="@Color.Primary" />
                                </FormControlLabel>
                            </RadioGroup>
                            </FormControl>
                        </div>
                    </div>
                    <div align="right">
                        <Button
                            Variant="@ButtonVariant.Contained"
                            Color="@Color.Primary"
                            Size="@Size.Large"
                            OnClick="AddRule"
                            Style="margin: 8px;">
                            <StartIcon>
                                <SaveIcon />
                            </StartIcon>  
                            <ChildContent>
                                Save
                            </ChildContent>
                        </Button>
                    </div>
                </div>
            </Fade>
        </ChildContent>
    </Modal>

@code {

	private const string WAREWOLF_DYNAMICRULE_ENDPOINT = "{INSERT URL TO WAREWOLF SERVER FOR THE DYNAMIC RULE ENDPOINT}"
    private int _editingIndex = -1;
    private Dictionary<string,string> PropertyValues { get; } = new Dictionary<string,string>
                                                                    {
                                                                        {"[[@transaction.centsAmount]]","Amount"},
                                                                        {"[[@transaction.merchant.name]]","Merchant Name"},
                                                                        {"[[@transaction.merchant.category.name]]","Merchant Category"}
                                                                    };
    private List<string> Comparisons { get; } = new List<string>
                                                {
                                                    "=",
                                                    ">",
                                                    ">=",
                                                    "<",
                                                    "<=",
                                                    "Contains"
                                                };

    private bool PropertyOpen { set; get; } = false;
    private bool ComparisonOpen { set; get; } = false;
    private string SelectedItem { set; get; } = "";
    private string SelectedComparison { set; get; } = "Comparison";
    private (string key, string display) SelectedProperty { set; get; } = ("Choose Property","Choose Property");
    private bool Open { set; get; }
    private string Value { set; get; }
    private string LinkOperand{ get;set; } = "NONE";
    private bool Publishing { get;set; } = false;

    public List<Rule> Rules;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var httpClient = new System.Net.Http.HttpClient();
            var data = await httpClient.GetStringAsync(WAREWOLF_DYNAMICRULE_ENDPOINT);
            var def = new {  Rules = new List<DecisionExpression>()  };
            var result = Newtonsoft.Json.JsonConvert.DeserializeAnonymousType(data, def);

            Rules = TraverseAndFlatten<DecisionExpression,Rule>(result.Rules,(r)=>r.Chain,(r)=>RuleFromDecisionExpression(r)).ToList();
            //.Select(r=> RuleFromDecisionExpression(r)).ToList();
        }
        catch (System.Exception)
        {
            Rules = new List<Rule>();
        }

    }

    public IEnumerable<V> TraverseAndFlatten<T,V>(IEnumerable<T> items, Func<T, T> nested, Func<T,V> convertFunction)
{
    var stack = new Stack<T>();
    foreach (var item in items)
        stack.Push(item);

    while (stack.Count > 0)
    {
        var current = stack.Pop();
        yield return convertFunction(current);

        var child = nested(current);
        if (child == null) 
        {
            continue;
        }
        stack.Push(child);
    }
}

public Rule RuleFromDecisionExpression(DecisionExpression de)
{
    int intValue;
    var value = de.Expression.Col2;
    var isInt = Int32.TryParse(value,out intValue);
    if(isInt)
    {
        value = (intValue/100).ToString();
    }
    return new Rule{
                                                Property = (de.Expression.Col1,PropertyValues[de.Expression.Col1]),
                                                LinkOperand = de.LogicalOperandType ?? "NONE",
                                                Comparison = GetComparisonFromEvaluationFn(de.Expression.EvaluationFn),
                                                Value = value
                                            };
}
    private void OnBackdropClick()
    {
        Open = false;

        StateHasChanged();
    }

    private void OnEscapeKeyDown()
    {
        Open = false;

        StateHasChanged();
    }

    private void OpenRuleBuilder()
    {
        Open = true;
        StateHasChanged();
    }

    private void HandleValueUpdated(ChangeEventArgs args)
    {
        Value = args.Value?.ToString();

        StateHasChanged();
    }

    private void OnLinkOperandChanged(ChangeEventArgs args)
    {
        LinkOperand = args.Value?.ToString();
        StateHasChanged();
    }
    private void HandleClose(ModalCloseReason reason)
    {
        Open = false;

        StateHasChanged();
    }

   

    private void OnSelect(string selectedItem)
    {
        SelectedItem = selectedItem;

        if (SelectedItem == "Property")
        {
            PropertyOpen = !PropertyOpen;
        }
        else if(SelectedItem == "Comparison")
        {
            ComparisonOpen = !ComparisonOpen;

        }

        StateHasChanged();
    }

    private void OnSelectComparison(string selectedItem)
    {
        SelectedComparison = selectedItem;

        ComparisonOpen = false;

        StateHasChanged();
    }

    private void OnSelectProperty(string selectedItemKey,string selectedItemValue)
    {
        SelectedProperty = (selectedItemKey,selectedItemValue);

        PropertyOpen = false;

        StateHasChanged();
    }

    private void AddRule()
    {
        var rule = new Rule{
                Property = SelectedProperty,
                Comparison = SelectedComparison,
                Value = Value,
                LinkOperand = LinkOperand
            };
        if(_editingIndex==-1)
        {
            Rules.Add(rule);    
        }
        else
        {
            Rules.RemoveAt(_editingIndex);
            Rules.Insert(_editingIndex,rule);
            _editingIndex = -1;
        }
        SelectedProperty = ("Choose Property","Choose Property");
        SelectedComparison = "Comparison";
        Value = "";
        LinkOperand = "NONE";
        Open = false;
        StateHasChanged();    
    }

    private void EditRule(Rule rule)
    {
        _editingIndex = Rules.IndexOf(rule);
        SelectedProperty = rule.Property;
        SelectedComparison = rule.Comparison;
        Value = rule.Value;
        LinkOperand = rule.LinkOperand;
        Open = true;
        StateHasChanged();
    }

    private void PublishRules()
    {
        Publishing = true;
        StateHasChanged();
        Task.Run(async()=> {
                            var ruleObject = new {Rules=BuildFromRules()};
                            var jsonString = JsonConvert.SerializeObject(ruleObject, Formatting.Indented,new JsonSerializerSettings{ContractResolver = ShouldSerializeContractResolver.Instance});
                            var httpClient = new System.Net.Http.HttpClient();
                            var data = await httpClient.PostAsync(WAREWOLF_DYNAMICRULE_ENDPOINT, new StringContent(jsonString));
                        }).ContinueWith((t)=>{
                                 Publishing = false;
                                 StateHasChanged();
                                });
        
    }

    public List<DecisionExpression> BuildFromRules()
    {
        var expressions = new List<DecisionExpression>();
        for(int i=0;i<Rules.Count;i++)
        {
            var rule = Rules[i];
            var decisionExpression = BuildFromRule(rule);
            while (rule.LinkOperand != "NONE")
            {
                i++;
                if(i >= Rules.Count)
                {
                    break;
                }
                rule = Rules[i];
                var chainExpression = BuildFromRule(rule);
                var chain = decisionExpression.Chain;
                if(chain==null)
                {
                    decisionExpression.Chain = chainExpression;
                }
                else
                {
                    var currentExpression = chain;
                    while(chain!=null)
                    {
                        chain = currentExpression.Chain;
                        if(chain!=null)
                        {
                            currentExpression = chain;
                        }
                    }
                    currentExpression.Chain = chainExpression;
                }
            }
            expressions.Add(decisionExpression);
        }
        return expressions;
    }
    private DecisionExpression BuildFromRule(Rule rule)
    {
        int randValue;
        var value = rule.Value;
        var isInt = Int32.TryParse(value, out randValue);
        if(isInt)
        {
            value = (randValue*100).ToString();
        }
        var decisionExpression = new DecisionExpression
            {
                Expression = new Dev2Decision
                {
                    Col1 = rule.Property.key,
                    Col2 = value,
                    EvaluationFn = GetEvaluationFn(rule.Comparison)
                },
                LogicalOperandType = rule.LinkOperand
            };
        return decisionExpression;
    }

    private string GetEvaluationFn(string comparison)
    {
        
        switch(comparison)
        {
            case "=":
                return "IsEqual";
            case ">":
                return "IsGreaterThan";
            case ">=":
                return "IsGreaterThanOrEqual";
            case "<":
                return "IsLessThan";
            case "<=":
                return "IsLessThanOrEqual";
            case "Contains":
                return "IsContains";
        }
        return "IsError";
    }

    private string GetComparisonFromEvaluationFn(string evaluationFn)
    {
        switch(evaluationFn)
        {
            case "IsEqual":
                return "=";
            case "IsGreaterThan":
                return ">";
            case "IsGreaterThanOrEqual":
                return ">=";
            case "IsLessThan":
                return "<";
            case "IsLessThanOrEqual":
                return "<=";
            case "IsContains":
                return "Contains";
        }
        return "NONE";
    }
    public class Rule
    {
        public (string key,string display) Property {get;set;}
        public string Comparison {get;set;}
        public string Value {get;set;}
        public string LinkOperand {get;set;}
    }

    public class DecisionExpression
   {
    public Dev2Decision Expression { get; set; }
    public string LogicalOperandType { get; set; }
    public DecisionExpression Chain { get; set; }

      public bool ShouldSerializLogicalOperandType()
    {
        return (LogicalOperandType == "NONE");
    }
  }
  public class Dev2Decision
  {
      public string Col1{get;set;}
      public string Col2{get;set;}
      public string Col3{get;set;}
      public string EvaluationFn{get;set;}
  }

  public class ShouldSerializeContractResolver : DefaultContractResolver
{
    public new static readonly ShouldSerializeContractResolver Instance = new ShouldSerializeContractResolver();

    protected override JsonProperty CreateProperty(MemberInfo member, MemberSerialization memberSerialization)
    {
        JsonProperty property = base.CreateProperty(member, memberSerialization);

        if (property.DeclaringType == typeof(DecisionExpression) && property.PropertyName == "LogicalOperandType")
        {
            property.ShouldSerialize =
                instance =>
                {
                    DecisionExpression e = (DecisionExpression)instance;
                    return e.LogicalOperandType != "NONE";
                };
        }

        return property;
    }
}
}
