﻿@inherits LayoutComponentBase

<MainLayout
    ContentStyle="padding: 30px;">
    <TitleContent>
        <Typography
            Style="flex-grow: 1; margin-left: 20px;"
            Variant="@TypographyVariant.H6"
            NoWrap>
            Rule Builder
        </Typography>
    </TitleContent>
    <BodyContent>
        @Body
    </BodyContent>
    <SidebarContent
        >
        <Navigation
            Class="FullLayout-Navigation"
            Items="@Items">
        </Navigation>
    </SidebarContent>
</MainLayout>

@code
{
    private List<NavigationItem> Items = new List<NavigationItem>
                                         {
                                             new NavigationItem
                                             {
                                                 Title = "Home",
                                                 Path = "",
                                                 Icon = @<HomeIcon />,
                                                 Prefix = false
                                             },

                                             new NavigationItem
                                             {
                                                 Title = "Rule Builder",
                                                 Path = "rulebuilder",
                                                 Icon = @<AddIcon />,
                                                 Prefix = true
                                             },

                                             new NavigationItem
                                             {
                                                 Title = "Fetch Data",
                                                 Path = "fetchdata",
                                                 Icon = @<ListIcon />,
                                                 Prefix = true
                                             }
                                         };
}