<MaterialScripts />
<MaterialStyles />
<LayoutResources />
<Styles />

<ThemeProvider Theme="@Theme.Light" />
<AppBarStyle />
<InputStyles />
<TableStyles />
<ProgressStyles />
<SelectionStyles />

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AppLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(AppLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>